input[type="radio"]{
    display: none;
}
#product{
    margin-top: 5rem;
}
#product .container{
    max-width: 600px;
}
.pictures {
    margin-bottom: 2rem;
}
.pictures > .imagesGrid{
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(5,150px);
}
.pictures > .imagesGrid > div {
    padding: 1rem;
}
.pictures > .imagesGrid > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pictures > .imagesGrid > div:nth-child(1){
    grid-column: 1 / 4;
    grid-row: 1 / 4;

}
.pictures > .imagesGrid > div:nth-child(2){
    grid-column: 4 / 5;
    grid-row: 1 / 3;

}
.pictures > .imagesGrid > div:nth-child(3){
    grid-column: 4 / 4;
    grid-row: 3 / 4;

}
.pictures > .imagesGrid > div:nth-child(4){
    grid-column: 1 / 3;
    grid-row: 4 / 6;

}
.pictures > .imagesGrid > div:nth-child(5){
    grid-column: 3 / 5;
    grid-row: 4 / 6;

}
#product h1{
    font-size: 3rem;
    margin-inline: 1rem;
    margin: 0;
    white-space: nowrap;
    text-transform: none;

}
#product h2{
    background: linear-gradient(45deg,#845917,#DAC469 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-inline: 1rem;
    margin: 0;
    font-size: 3rem;
}
.infos{
    margin-inline: 1rem;
}
.infos h3{
    font-size: 2.2rem;
}
#description{
    text-align: justify;
    font-size: 2rem;
}
#description h4{
    text-align: center;
    margin-block: 3rem;
    margin-bottom: 5rem;
    font-size: 4rem;
}
#description p{
    font-weight: 300;
}
#faq{
    font-size: 2rem;
}
#faq h4{
    font-size: 4rem;
}
#colors > div{
    display: flex;
    align-items: center;
}
#colors label{
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 2rem;
    cursor: pointer;
    border-radius: 100%;
    border: solid white 1px;
}
#colors input:checked + label{
    border: solid #DAC469 2px;
}
#colors input:not(:checked) + label:hover{
    border: solid #dac3698a 2px;
}
#sizes label{
    display: inline-flex;
    border: solid white 1px;
    cursor: pointer;
    font-size: 2rem;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-right: 2.5rem;
}
#sizes input:checked + label{
    background-color: white;
    color: black;
}
.infos form > div{
    margin-block: 3rem;
}
.question_block.hidden .answer{
    display: none;
}
.question i{
    font-size: 4rem;
    transition: all 0.2s;
}
.infos form button{
    display: block;
    margin-top: 8rem;
    background: none;
    outline: none;
    border: solid white 1px;
    color: black;
    background-color: white;
    font-size: 2rem;
    padding: 1.5rem 2.5rem;
    cursor: pointer;
    font-weight: normal;
    font-family: Moonic;
    letter-spacing: 2px;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
#quantity input{
    background: none;
    color: white;
    font-size: 2rem;
    padding: 1rem;
    outline: none;
    border: solid white 1px;
    max-width: 4.5rem;
}
.question p{
    font-weight: normal;
}
.question_block{
    border-bottom: solid white 1px;
    padding-block: 1rem;
}
#faq > .container > .question_block:nth-child(2){
    border-top: solid white 1px;
}
.answer{
    font-weight: 300;
    text-align: justify;
}
.question_block:not(.hidden) .question i{
    transform: rotate(-180deg);
    transition: all 0.2s;
}
.name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}
