#contactPress .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contactPress h1{
    font-size: 6rem;
    text-transform: uppercase;
    margin-bottom: 10rem;
    margin-top: 10rem;
}
#contactPress h2{
    font-size: 3rem;
    background: linear-gradient(to right,#845917,#DAC469 75%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 3rem;

}

#contactPress a{
    font-size: 2rem;
    display: block;
    margin-bottom: 1rem;
    font-weight: 300;

}

#press h3{
    font-size: 3rem;
}
#press .link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#press .link div{
    display: flex;
    align-items: center;
}
#press h4{
    font-family: Montserrat;
    font-size: 2rem;
    letter-spacing: 0px;
    font-weight: 300;
}
#press a{
    background: linear-gradient(to right,#845917,#DAC469 75%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 2rem;
    position: relative;
    font-family: Moonic;
    letter-spacing: 2px;
    margin-left: 3rem;
}
#press a:after{
    content: "";
    width: 100%;
    height: 1px;
    bottom: -5px;
    left: 0;
    position: absolute;
    background: linear-gradient(to right,#845917,#DAC469 75%);
}
#press .category{
    margin-bottom: 10rem;
}

@media screen and (max-width: 900px){
    #press h4{
        font-size: 1.8rem;
    }
    #press .link div a{
        font-size: 1.8rem;
    }
    #contactPress h1{
        margin-top: 18rem;
    }
    
}