input[type="radio"]{
    display: none;
}
.container input[type="radio"]:not(:checked) + section{
    display: none;
}
#logout,#big_ticket{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    backdrop-filter: brightness(0.5);
    z-index: 2;
}
#big_ticket > div{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    border-radius: 30px;
    position: relative;
    padding-bottom: 5rem;
}
#big_ticket > div img{
    width: 100%;
    padding: 3rem;
}
#big_ticket > div h2{
    font-size: 4rem;
    margin-block: 1rem;
    color: black;
}
#big_ticket button{
    width: 65px;
    height: 65px;
    position: absolute;
    top: 100%;
    left: 50%;
    translate: -50% -50%;
    background-color: white;
    border: solid #DAC469 1px;
    border-radius: 100%;
    cursor: pointer;
}
#big_ticket button::after{
    content: "";
    width: 30px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
#logout .box{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #080808;
    padding: 8rem 10rem;
    border: solid #DAC469 1px;
    max-width: 90%;
}
#logout .box p{
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 4rem;
}
#logout .box .choice > *{
    font-size: 2rem;
    cursor: pointer;
    display: block;
    width: fit-content;
    margin-inline: 2rem;
    text-decoration: none;
    color: white;
    padding: 1.5rem 4rem;
}
#logout .box .choice{
    display: flex;
    margin-top: 1rem;

}
#logout .box .choice span{
    border: solid white 1px;
}
#logout .box .choice a{
    background-color: white;
    color: #080808;
}
#profil .container{
    display: flex;
    margin-top: 10rem;
}
#profil section{
    overflow: visible;
}
#profil h1{
    font-size: 6rem;
    margin-top: 0;
    background: linear-gradient(45deg,#845917,#DAC469 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 5rem;
    text-align: center;
}
#profil .container nav{
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    border-right: solid white 1px;
    padding-right: 10rem;
    padding-top: 10rem;
}
#profil .container nav label, #profil .container nav span{
    display: block;
    margin-bottom: 3rem;
    cursor: pointer;
    font-weight: normal;
    position: relative;
    text-decoration: none;
    font-family: Moonic;
    letter-spacing: 2px;
    width: fit-content;
}
#profil .container nav label:hover{
    background: linear-gradient(45deg,#845917,#DAC469 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transition: all 0.2s;
}
#profil .container nav label.current{
    background: linear-gradient(45deg,#845917,#DAC469 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#profil .container nav span:last-child{
    margin-top: 8rem;
    background: linear-gradient(45deg,#845917,#DAC469 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#profil .container nav label.current:before{
    content: "";
    height: 1px;
    width: 100%;
    background: linear-gradient(45deg,#845917,#DAC469 50%);
    position: absolute;
    left: 0;
    bottom: -10px;
}
#profil .container section{
    flex-basis: 85%;
    padding-left: 100px;
    padding-block: 0;
    padding-right: 0;
}
.works_section .works{
    display: flex;
    flex-wrap: wrap;
}
.works_section .work{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}
.works_section .work img{
    aspect-ratio: 16/9;
    width: 80%;
    height: auto;
    object-fit: cover;
}
.works_section .work h3{
    font-size: 2.2rem;
    margin-block: 1rem;
    margin-top: 2rem;
    font-weight: normal;
    font-family: Montserrat;
    letter-spacing: 0px;
    font-weight: 300;
}
.works_section .work h4{
    margin: 0;
    font-weight: 300;
    font-family: Montserrat;
    background: linear-gradient(45deg,#845917,#DAC469 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    letter-spacing: 0px;
}
.works_section .work h5{
    font-size: 1.8rem;
    text-align: center;
    font-family: Montserrat;
    white-space: nowrap;
    letter-spacing: 0px;
    font-weight: 300;

}
div.hidden{
    display: none;
}
.switch{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.switch h2{
    font-size: 3rem;
    font-weight: normal;
    margin-inline: 2rem;
    padding-block: 1rem;
    position: relative;
    margin-top: 0;
}
.current{
    display: inline-block;
    position: relative;
}
h2.current:after, .switch h2:after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #DAC469;
    bottom: -2px;
    left: 0;
    position: absolute;
    transform-origin: left;
   
}

.switch h2:not(.current){
    cursor: pointer;
    opacity: 0.6;
}
.switch h2:not(.current):after{
    transform: scaleX(0);
    transition: all 0.2s;
}
.switch h2:not(.current):hover:after{
    opacity: 1;
    transform: scaleX(1);
    transition: all 0.2s;
   
}
.works_section p{
    font-size: 2rem;
    text-align: justify;
    margin-inline: auto;
}
.account_section form > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
    
}
.account_section .infos{
    flex-basis: 60%;
}
.account_section .infos .entry{
    flex-grow: 1;
    margin-right: 3rem;
}
.account_section .infos > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.account_section .infos .entry input{
    width: 100%;
}
.account_section .infos .entry#linkedin{
    display: flex;
    align-items: center;
    flex-basis: 100%;
}
.account_section .infos .entry#linkedin label{
    margin-block: 0;
    margin-right: 2rem;
}
.account_section .infos .entry#linkedin label i{
    font-size: 4rem;

}
.account_section .infos p{
    margin: 0;
    font-size: 1.5rem;
    text-align: justify;
}
.account_section .pp{
    flex-basis: 25%;
    position: relative;
}
.account_section .pp img{
    aspect-ratio: 1/1;
    width: 100%;
    min-width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 100%;
}
input[type="file"]{
    display: none;
}
.account_section, .security_section{
    font-size: 2rem;
}

.security_section form > div:not(.form_section){
    display: flex;
    justify-content: space-between;
}

.account_section input, .security_section input{
    background: none;
    border: none;
    outline: none;
    color: white;
    font-weight: 300;
    padding-block: 1rem;
    border-bottom: solid white 1px;
    margin-bottom: 5rem;
    width: 100%;
    font-size: 1.8rem;
}
.account_section input#linkedin{
    margin-bottom: 2rem;
}
.account_section input:read-only{
    color: rgba(255, 255, 255, 0.6);
}
.account_section .infos label, .security_section label{
    display: block;
    white-space: nowrap;
    margin-bottom: 3rem;
    font-weight: 300;
}
.account_section button, .security_section button{
    display: block;
    width: fit-content;
    padding: 1rem 3rem;
    background: none;
    border: solid white 1px;
    color: white;
    cursor: pointer;
    margin-top: 5rem;
    font-family: Montserrat;
    letter-spacing: 0px;
    font-size: 2rem;
}
.account_section button{
    font-family: Montserrat;
    font-size: 2rem;
    margin-top: 10rem;
}
.account_section .pp label{
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    background-color: #080808;
    color: white;
    border: solid #DAC469 1px;
    padding: 1rem 2rem;
    cursor: pointer;
    letter-spacing: 0px;
}
.security_section h2{
    font-weight: normal;
    margin-top: 8rem;
    margin-bottom: 5rem;
    font-size: 3rem;
}
.security_section button{
    margin-top: 1rem;
}
.security_section form{
    width: 100%;
}
.security_section form div.form_section{
    width: 45%;
}
.leftArrow, .rightArrow{
    display: none;
}
.tickets_section .leftArrow, .tickets_section .rightArrow{
    display: block;
    position: absolute;
    top: 50%;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);
    background: none;
    border: none;
    animation: leftNright 2s infinite;
    z-index: 1;
}
.leftArrow{
    left: 0;
    scale: -1 1;
    translate: -300% 0%;
}
.rightArrow{
    translate:  300% 0;
    right: 0;
}
.leftArrow img, .rightArrow img{
    width: 30px;
}
.tickets_section {
    max-width: 100%;
}
.tickets_section > div{
    margin-top: 10rem;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    max-width: 100%;
}
.tickets_section .tickets{
    display: flex;
    width: 100%;
    translate: -25% 0;
    align-items: flex-end;
    
}
.tickets_section .ticket{
    min-width: 50%;
    max-width: 50%;
    opacity: 0;
    transition: all 0.5s;
}
.tickets_section .ticket.active{
    opacity: 1;
}
.tickets_section .ticket{
    margin-bottom: 50px;
}
.tickets_section .ticket div{
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    position: relative;
    padding-bottom: 3rem;
}
.tickets_section .ticket div button{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 100%;
    left: 50%;
    translate: -50% -50%;
    background-color: white;
    border: solid #DAC469 1px;
    border-radius: 100%;
    cursor: pointer;
}
.tickets_section .ticket div button::after{
    content: "";
    width: 20px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
.tickets_section .ticket div button::before{
    content: "";
    width: 1px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
.tickets_section .ticket div img{
    width: 100%;
    padding: 2rem;
}
.tickets_section .ticket div h2{
    font-size: 2.5rem;
    color: black;
    margin-block: 1rem;
}
@keyframes slideLeft {
    from{
        translate: -75% 0;
    }
    to{
        translate: -25% 0;
    }
    
}
@keyframes slideRight {
    from{
        translate: -25% 0;
    }
    to{
        translate: -75% 0;
    }
    
}
@media screen and (max-width: 900px) {

    #profil .container{
        flex-direction: column;
        overflow: visible;
    }
    #profil section{
        overflow: visible;
    }
    #profil .container nav{
        padding: 0;
        flex-direction: row;
        justify-content: space-around;
        border-right: none;
        border-bottom: solid white 1px;
        margin-block: 10rem;
        position: relative;
        flex-wrap: wrap;
    }
    #profil .container nav span{
        position: absolute;
        left: 50%;
        bottom: -10rem;
        translate: -50% 0;
    }
    #profil h1{
        position: absolute;
        top: 0;
        left: 50%;
        translate: -50% 0;
        white-space: nowrap;
    }
    #profil .container{
        position: relative;
    }
    #profil .container section{
        position: static;
        padding: 0;
    }
    #profil .account_section form > div{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .account_section {
        max-width: 400px;
        margin-inline: auto;
        overflow: visible;
    }
    .account_section .pp{
        max-width: 150px;
        margin-bottom: 8rem;
    }
    .account_section .pp img{
        min-width: auto;
    }
    .account_section .infos .entry{
        margin: 0;
        flex-grow: unset;
    }
    .account_section .infos > .entry{
        width: 100%;
    }
    .account_section .infos > div .entry{
        flex-basis: 45%;
    }
    #profil .container nav label, #profil .container nav span{
        font-size: 2.2rem;
    }
    #profil .container nav span{
        font-size: 3rem;
    }
    .security_section form > div:not(.form_section){
        flex-direction: column;
    }
    .security_section form div.form_section{
        width: 60%;
    }
    .works_section p{
        text-align: center;
    }

    section .works .work{
        flex-basis: auto;
        min-width: 50%;
        max-width: 50%;
        opacity: 0;
        margin: 0;
        transition: opacity 0.5s;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section .works .work > div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section .works .work h3{
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    section .works .work h4{
        font-size: 2rem;
        text-align: center;
    }
    section .works .work.active{
        opacity: 1;
    }
    section .works{
        flex-wrap: nowrap;
        translate: -25% 0;
        margin-top: 5rem;
        overflow-x: hidden;
        align-items: center;
    }
    .leftArrow, .rightArrow{
        display: block;
        position: absolute;
        top: 50%;
        padding: 0;
        margin: 0;
        transform: translateY(-50%);
        background: none;
        border: none;
        animation: leftNright 2s infinite;
        z-index: 1;
    }
    .leftArrow{
        left: 0;
        scale: -1 1;
        translate: -300% 0%;
    }
    .rightArrow{
        translate:  300% 0;
        right: 0;
    }
    .leftArrow img, .rightArrow img{
        width: 30px;
    }
    .switch h2{
        font-size: 2.5rem;
    }
    .works_section .work img{
        width: 100%;
    }
    .works_section .work h5{
        font-size: 2rem;
    }
    section .works .work h3{
        font-size: 2.2rem;
    }
    .works_section .works{
        flex-wrap: nowrap;
    }
    .works_section > div{
        position: relative;
    }
    .tickets_section p {
        text-align: center;
    }
    .tickets_section .ticket div button{
        width: 30px;
        height: 30px;
    }
    .tickets_section .ticket div button::before{
        width: 15px;
        height: 1px;
    }
    .tickets_section .ticket div button::after{
        width: 1px;
        height: 15px;
    }
    #big_ticket > div{
        width: 300px;
    }
    #big_ticket button{
        width: 50px;
        height: 50px;
    }

    
}