#home .home_text{
    position: relative;
    z-index: 1;
}
#home .home_text:after{
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    right: 0;
    top: 100%;
    transform: translate(-50%,-50%) scaleX(-1);
    background: url("../images/shapes/circle.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1

}
#home .home_text:before{
    content: "";
    width: 150px;
    height: 150px;
    position: absolute;
    left: -200px;
    transform: translate(-50%,-50%) scaleX(-1);
    top: 100%;
    background: url("../images/shapes/falling_star.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}
@keyframes upNdown {
    0%{
        transform: translate(-50%,-50%) translateY(0px);
    }
    50%{
        transform: translate(-50%,-50%) translateY(20px);
    }
    100%{
        transform: translate(-50%,-50%) translateY(0);
    }
    
}
div#arrow {
    position: fixed;
    width: fit-content;
    height: fit-content;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 90%;
    animation: upNdown 2s infinite;
    z-index: 2;
}
div#arrow img{
    width: 100px;
}
#door{
    width: 100vw;
    height: 100vh; 
    padding: 0;
    top: 0;
    left: 0;
    background: url("../images/background4.jpg");
    background-size: cover;
    z-index: -1;
    position: sticky;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
#door > div:not(:empty){
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    max-width: none;

}
#door > div:not(:empty) > div:not(:empty){
    position: relative;
}
#door div:empty{
    flex-grow: 1;
    background-color: #080808;
}
#door img{
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    max-width: 110%;
    position: relative;
    z-index: 1;
    transition: all 0.2s;

}
#door h1{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 75%;
    left: 50%;
    font-size: 6rem;
    text-align: center;
    white-space: nowrap;
    transition: all 0.2s;
}

#guests .guest:nth-child(2){
    position: relative;
}

#guests .guests{
    position: relative;
    z-index: 1;
}
#guests .guest:nth-child(2):after{
    content: "";
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 100%;
    background: url("../images/shapes/circle.png");
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%,-50%);
    z-index: -1;
}
#guests .guest:nth-child(3){
    display: block;
    position: relative;
    z-index: 1;
}
#guests .guest:nth-child(3):after{
    content: "";
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    background: url("../images/shapes/star.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: rotate infinite linear 5s;
}
@keyframes rotate {
    to{
        transform: rotate(360deg);
    }
    
}
#staff h1, #contact h1{
    position: relative;
    width: fit-content;
    margin-inline: auto;
}
#staff h1::before, #contact h1::before{
    content: "";
    width: 200px;
    height: 200px;
    transform: translate(-50%,-50%) scaleX(-1);
    background: url("../images/shapes/circle.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;

}
#staff #arrow{
    left: 10%;
}
#staff .category:last-child{
    position: relative;
}
#staff .category:last-child:after{
    content: "";
    position: absolute;
    top: 100px;
    right: 0;
    width: 200px;
    height: 200px;
    background: url("../images/shapes/falling_star.png");
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%,-50%);
    animation: move 1s infinite linear;
    

}
@keyframes move {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(0);
    }
    
}

#press{
    position: relative
}
#press .container{
    position: relative;
}
#press:after{
    width: 300px;
    height: 300px;
    content: "";
    position: absolute;
    top: calc(50% - 150px);
    right: -150px;
    z-index: -1;
    background: url("../images/shapes/star.png");
    background-size: contain;
    animation: rotate linear infinite 5s;
}

#press .container:before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    height: 200px;
    background: url("../images/shapes/falling_star.png");
    background-size: contain;
    background-repeat: no-repeat;
    transform:  translateX(-100%) translateY(25%) scale(-1);

}

#shop .article{
    position: relative;
}
#shop .article:first-child::before{
    width: 300px;
    height: 300px;
    content: "";
    position: absolute;
    top: 65%;
    left: -150px;
    background: url("../images/shapes/star.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: rotate infinite linear 5s;
    z-index: 1;
}

#shop .article:last-child::after{
    width: 300px;
    height: 300px;
    content: "";
    position: absolute;
    top: -150px;
    left: calc(100% - 150px);
    background: url("../images/shapes/star.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: rotate infinite linear 5s;
    z-index: 1;
}
#faq .container{
    position: relative;
}
#product .container .pictures{
    position: relative;
}

#product .container .pictures::before{
    content: "";
    width:  800px;
    height: 800px;
    transform: scaleY(-1) translateX(-75%) translateY(15%);
    background: url("../images/shapes/circle_thin.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

}

#product .container .pictures::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 110%;
    width: 200px;
    height: 200px;
    background: url("../images/shapes/falling_star.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: move 1s infinite linear;
    scale: 1 -1;

}
#faq .container #arrow{
    position: absolute;
    top: -100px;
    right: 0;
   
}
#faq{
    position: relative;
}
#faq::before{
    width: 300px;
    height: 300px;
    content: "";
    position: absolute;
    bottom: 0;
    left: -150px;
    background: url("../images/shapes/star.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: rotate infinite linear 5s;
    z-index: 1;
}

#cart .container{
    position: relative;
}

#cart .container::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -50px;
    width: 200px;
    height: 200px;
    transform: translate(100%,-50%);
    background: url("../images/shapes/falling_star.png");
    background-size: contain;
    background-repeat: no-repeat;
    scale: -1 -1;


}

#cart .ctaButton #arrow{
    position: static;
    transform: rotate(-90deg);
}
