#about .container{
    display: flex;
    flex-direction: column;
}
#about h1, #staff h1{
    font-size: 6rem;
    background: linear-gradient(45deg,#845917,#DAC469 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
}
#about p:nth-child(2){
    margin-bottom: 5rem;
}
#about h2{
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
#about p{
    text-align: justify;
    margin-block: 2rem;
}
#staff h2{
    font-weight: normal;
    font-size: 3rem;
    margin-block: 5rem;
}
#staff .category{
    border-bottom: solid rgba(255, 255, 255, 0.5) 2px;
    padding-bottom: 8rem;
}
#staff .cards{
    display: flex;
}
#staff .card{
    width: 24%;
    margin-right: 1%;
    position: relative;
}
#staff .card img{
    height: auto;
    transition-timing-function: linear;
    transition: all 0.5s;
}
#staff .card img.back{
    width: 75%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

}
#staff .card img.front{
    display: block;
    width: 75%;
    margin-inline: auto;
    position: relative;
    z-index: 1;
    opacity: 0;

}
#staff .card:hover img.back{
    display: block;
    transform: rotate3d(1,0,0,30deg) translateX(-50%) translateY(50px);
    opacity: 0.5;
    margin-inline: auto;

}
#staff .card:hover img.front{
    opacity: 1;
    transform: translateY(-50px);
    transition-delay: 0.2s;

}
#staff .card:hover h4{
    transform: translateY(-50px);
    transition-delay: 0.2s;
}
#staff h4{
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 1rem;
    margin-top: 2rem;
    text-align: center;
    transition: all 0.5s;
    font-family: Montserrat;
}

