
#work .category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
}

#work h1{
    font-size: 4.5rem;
    font-style: italic;
    margin: 0;
    width: fit-content;
}
#work h2{
    margin: 0;
    font-weight: normal;
    font-size: 3rem;
    position: relative;

}
#work h2::after{
    content: "";
    width: 100%;
    height: 1px;
    background: linear-gradient(45deg,#845917,#DAC469 50%);
    bottom: -5px;
    left: 0;
    position: absolute;
    transform-origin: left;
   
}
#work .work{
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
    margin-bottom: 3rem;
}
#work .work .thumbnail{
    flex-basis: 45%;
    position: relative;
}
#work .work .thumbnail .links{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    opacity: 0;
}
@keyframes grow{
    from{
        scale: 1;
    }
    50%{
        scale: 1.025;
    }
    100%{
        scale: 1;
    }
}
#work .work .thumbnail.grow{
    animation: grow 3s infinite;
}
#work .work .thumbnail:hover{
    animation-play-state: paused;
}
#work .work .thumbnail .links:hover{
    opacity: 1;
}
#work .work .thumbnail .links a{
    font-size: 8rem;
    margin-inline: 2rem;
}
#work .work .thumbnail .links a:hover{
    background: linear-gradient(45deg,#845917,#DAC469 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;    
}
#work .work .thumbnail img{
    width: 100%;
    aspect-ratio: 16/9;
    height: auto;
    object-fit: cover;
}
#work .work .infos{
    flex-basis: 40%;
    font-size: 2rem;
    text-align: justify;
}
#work .work h3{
    font-size: 4rem;
    margin: 0;
    width: fit-content;
    display: inline-block;
    font-family: Montserrat;
    margin-right: 1rem;
    letter-spacing: 0;
}
#work .work h4{
    font-weight: normal;
    margin-top: 1rem;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    display: inline-block;
    font-family: Montserrat;
    letter-spacing: 0;
}
#work .work h4 span{
    background: linear-gradient(45deg,#845917,#DAC469 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: Montserrat;
    letter-spacing: 0;
}
#work .work p strong{
    font-weight: 300;
    color: white;
}
#work .work p {
    font-weight: 300;
    margin-block: 3rem;
}
#work .work p span{
    background: linear-gradient(45deg,#845917,#DAC469 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
section h1{
    font-size: 4rem;
    margin-bottom: 6rem;
    font-family: Moonic;
}
#choice{
    padding-block: 5rem;
}
#choice h1{
    text-align: center;
}
#choice form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#choice form .choice{
    display: flex;
    justify-content: center;
}
#choice form .choice > *{
    margin-inline: 3rem;
    display: block;
    width: fit-content;
    font-size: 2.5rem;
    border: solid white 1px;
    padding: 1rem 4rem;
    background: linear-gradient(45deg,#845917,#DAC469 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#choice form label{
    font-size: 4rem;
    display: block;
    text-align: center;
    font-family: Moonic;
    margin-top: 5rem;
}
#choice form textarea{
    resize: vertical;
    width: 100%;
    background: none;
    max-width: 900px;
    border: none;
    border-bottom: solid white 1px;
    padding-block: 1rem;
    color: white;
    font-size: 2rem;
    margin-top: 5rem;
}
section h1 span a{
    background: linear-gradient(45deg,#845917,#DAC469 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: Moonic;
}
section .works{
    display: flex;
    align-items: flex-end;
    overflow-x: scroll;
}
section .works .work{
    min-width: 30%;
    max-width: 30%;
    margin-right: 3.3333%;
}
section .works .work img{
    width: 100%;
    aspect-ratio: 16/9;
    height: auto;
    object-fit: cover;
    transition: all 0.5s;
    border-radius: 10px;
}
section .works .work img:hover{
    transform: scale(1.02);
}
section .works h2, section .works h3, section .works h4{
    font-weight: normal;
}
section .works h2{
    font-size: 2.2rem;
    margin-top: 0;
    font-family: Montserrat;
    letter-spacing: 0;
}
section .works h3{
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
    font-family: Montserrat;
    letter-spacing: 0;
    
}
section .works h4{
    font-size: 2rem;
    margin-top: 0.5rem;
    background: linear-gradient(45deg,#845917,#DAC469 50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: Montserrat;
    letter-spacing: 0;
    
}
.leftArrow, .rightArrow{
    display: none;
}
@keyframes slideLeft {
    from{
        translate: -75% 0;
    }
    to{
        translate: -25% 0;
    }
}

@keyframes slideRight {
    from{
        translate: -25% 0;
    }
    to{
        translate: -75% 0;
    }
    
}

@media screen and (max-width: 900px){
    #work .category{
        flex-direction: column;
        align-items: center;
    }
    #work .category h1{
        margin-bottom: 3rem;
        text-align: center;
    }
    #work .work{
        flex-direction: column;
        position: relative;
        padding-top: 6rem;
    }
    #work .work h3{
        position: absolute;
        top: 0;
        left: 50%;
        translate: -50% -50%;
        font-family: Moonic;
    }
    #work .work h4{
        margin-bottom: 5rem;
    }
    #work .work .infos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #work .work .infos p{
        margin-block: 2rem;
        font-size: 2rem;
    }
    #work .work .thumbnail{
        width: 75%;
        margin-inline: auto;
    }
    #userWorks #arrow{
        display: none;
    }
    section{
        position: relative;
    }
    section h1{
        font-size: 3rem;
        margin-top: 5rem;
    }
    section .container{
        position: relative;
    }
    section .works .work{
        flex-basis: auto;
        min-width: 50%;
        max-width: 50%;
        opacity: 0;
        margin: 0;
        transition: opacity 0.5s;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section .works .work > div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section .works .work h3{
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    section .works .work h4{
        font-size: 2rem;
        text-align: center;
    }
    section .works .work.active{
        opacity: 1;
    }
    section .works{
        flex-wrap: nowrap;
        translate: -25% 0;
        margin-top: 5rem;
        overflow-x: hidden;
        align-items: center;
    }
    .leftArrow, .rightArrow{
        display: block;
        position: absolute;
        top: 50%;
        padding: 0;
        margin: 0;
        transform: translateY(-50%);
        background: none;
        border: none;
        animation: leftNright 2s infinite;
        z-index: 1;
    }
    .leftArrow{
        left: 0;
        scale: -1 1;
        translate: -300% 25%;
    }
    .rightArrow{
        translate:  300% 25%;
        right: 0;
    }
    .leftArrow img, .rightArrow img{
        width: 30px;
    }
    #work .work .thumbnail.grow{
        animation: none;
    }
    #work .work .thumbnail .links{
        position: static;
        height: fit-content;
        opacity: 1;
        margin-block: 3rem;
    }
    #work .work .thumbnail .links a{
        font-size: 5rem;
    }
    
}